<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.slidingtiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="singulARCADE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Views.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.StartingActivity" />
        <activity android:name=".Views.LoginActivity" />
        <activity android:name=".Views.PlaySlidingTilesActivity" />
        <activity android:name=".Views.PlayPegSolitaireActivity" />
        <activity android:name=".Views.PlayMemoryPuzzleActivity" />
        <activity android:name=".Views.GameCentreActivity" />
        <activity android:name=".Views.ScoreBoardActivity" />
        <activity android:name=".Views.UserProfileActivity" />
        <activity android:name=".Views.SignUpActivity" />
        <activity android:name=".Views.SetUpActivity" />
        <activity android:name=".SaveAndLoad"/>
    </application>

</manifest>